:import {
    -st-from: './header.st.css';
    -st-default: Header;
}

:import {
    -st-from: "./file-explorer.st.css";
    -st-default: FileExplorer;
    -st-named: label as fileLabel;
}

:import {
    -st-from: "./pane.st.css";
    -st-default: Pane;
}

:import {
    -st-from: "./error.st.css";
    -st-default: Error;
}

:vars {
    darkShades: stArray(#252526, #1e1e1e);
    lightShades: stArray(#ffffff, #f3f3f3);
    bgHover: rgb(150, 255, 146);
    bgWarning: rgb(255, 146, 146);
    textActive: rgb(255, 217, 0);
    largeGap: 1.5em;
    mediumGap: 0.85em;
    smallGap: 0.25em;
    shadow: 0px 0px 0px 0px rgba(value(darkShades, 1), 0.1);
    tinyText: 0.85em;
    smallText: 1em;
    mediumText: 1.5em;
    largeText: 2em;
}

:root {
    --primary-color: value(lightShades, 0);
    --primary-second-color: value(lightShades, 1);
    --secondary-color: value(darkShades, 0);
    --secondary-second-color: value(darkShades, 1);
}

:global(html),
:global(body) {
    height: 100%;
}

#playground {
    height: 100%;
}

.root {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "fileExplorer editors"
        "fileExplorer editors";
    font-family: monospace;
    background-color: var(--primary-second-color);
}

.editors {
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "source target"
        "ast diagnostics";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.header {
    -st-extends: Header;
    grid-area: header;
    background-color: value(darkShades, 0);
    box-shadow: 0px 0px 4px 0px black;
    z-index: 1;
}

.header::title {
    display: flex;
    align-items: center;
    font-size: value(largeText);
    color: value(lightShades, 1);
}

.header::icon {
    margin: value(smallGap) value(mediumGap);
}

.fileExplorer {
    -st-extends: FileExplorer;
    padding: 0px value(smallGap);
    font-size: value(smallText);
    background-color: var(--primary-color);
}

.fileExplorer::title {
    font-size: value(mediumText);
    padding: 0.5em 0;
    margin: 0;
    color: var(--secondary-color)
}

.fileExplorer::fileEntries {}

.fileExplorer::fileEntry {
    display: flex;
    background-color: var(--priamry-color);
    margin: value(smallGap) 0;
}

.fileExplorer::label {
    text-align: start;
    padding: 1em 0.5em;
    flex: 1;
    border: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    min-width: 35ch;
    max-width: 55ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--secondary-color);
}

.fileExplorer::remove,
.fileExplorer::cancelRemove {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    width: 3em;
    padding: 0;
}

:is(.fileExplorer::fileEntry:hover,
    .fileExplorer::fileEntry:selected,
    .fileExplorer::fileEntry:markedForDeletion) > .fileLabel {
    color: value(darkShades, 1);
}

.fileExplorer::fileEntry:hover {
    background-color: value(bgHover);
}

.fileExplorer::fileEntry:selected {
    background-color: value(textActive);
}

.fileExplorer::fileEntry:markedForDeletion {
    background-color: value(bgWarning);
}

.fileExplorer::newFileEntry {
    display: flex;
}

.fileExplorer::newFileInput {
    padding: 1em 0.5em;
    flex: 1;
    border: none;
    background-color: var(--primary-second-color);
}

.fileExplorer::addNewFile {
    border: 0;
    cursor: pointer;
    background-color: value(textActive);
    width: 3em;
    padding: 0;
}

.editor {
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    box-shadow: value(shadow);
    background: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr;
}

.source {
    -st-extends: editor;
    grid-area: source;
}

.target {
    -st-extends: editor;
    grid-area: target;
}

.ast {
    -st-extends: editor;
    grid-area: ast;
}

.diagnostics {
    -st-extends: editor;
    grid-area: diagnostics;
}

.error {
    -st-extends: Error;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: value(shadow);
    background-color: var(--primary-color);
    color: red;
    border: .1rem solid red;
}

.error::title {
    font-size: value(mediumText);
}

@media (max-width: 600px) {
    .root {
        height: auto;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .header::title {
        justify-content: center;
    }

    .header::icon {
        margin: 0;
        margin-right: value(mediumGap);
    }

    .fileExplorer {
        margin-bottom: value(smallGap);
    }

    .fileExplorer::label {
        max-width: unset;
        min-width: unset;
    }

    .editors {
        display: flex;
        flex-direction: column;
        padding: 0px value(smallGap);
    }

    .editor {
        margin-top: value(smallGap);
        height: 400px;
    }
}

@st-scope .root {
    Pane {
        color: var(--secondary-color);
        background: var(--primary-second-color);
    }

    Pane::title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0;
        padding: 0.5em;
        font-size: value(mediumText);
    }
}

.darkTheme {
    -st-extends: root;
    --primary-color: value(darkShades, 0);
    --primary-second-color: value(darkShades, 1);
    --secondary-color: value(lightShades, 0);
    --secondary-second-color: value(lightShades, 1);
}
