:import {
    -st-from: './header.st.css';
    -st-default: Header;
}

:import {
    -st-from: "./file-explorer.st.css";
    -st-default: FileExplorer;
}

:import {
    -st-from: "./pane.st.css";
    -st-default: Pane;
}

:vars {
    bgMain: rgb(42, 42, 42);
    bgContrast: rgba(255, 255, 255, 0.9);
    bgHover: rgb(150, 255, 146);
    bgWarning: rgb(255, 146, 146);
    textMain: rgb(34, 34, 34);
    textActive: rgb(255, 217, 0);
    largeGap: 1.5em;
    mediumGap: 0.85em;
    smallGap: 0.25em;
    shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    tinyText: 0.85em;
    smallText: 1em;
    mediumText: 1.5em;
    largeText: 2em;
}


:global(html),
:global(body) {
    height: 100%;
}

#playground {
    height: 100%;
}

.root {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "fileExplorer editors"
        "fileExplorer editors";
    font-family: monospace;
    background-color: rgb(45, 45, 45);
}


.editors {
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "source target"
        "ast diagnostics";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.header {
    -st-extends: Header;
    grid-area: header;
    background-color: rgb(40, 40, 40);
    box-shadow: 0px 0px 4px 0px black;
    z-index: 1;
}

.header::title {
    display: flex;
    align-items: center;
    font-size: value(largeText);
    color: value(bgContrast);
}

.header::icon {
    margin: value(smallGap) value(mediumGap);
}

.fileExplorer {
    -st-extends: FileExplorer;
    padding: 0px value(smallGap);
    font-size: value(smallText);
}

.fileExplorer::title {
    font-size: value(mediumText);
    padding: 0.5em 0;
    margin: 0;
    color: #ffffff
}

.fileExplorer::fileEntries {}

.fileExplorer::fileEntry {
    display: flex;
    background-color: value(bgContrast);
    margin: value(smallGap) 0;
}

.fileExplorer::label {
    text-align: start;
    padding: 1em 0.5em;
    flex: 1;
    border: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    min-width: 35ch;
    max-width: 55ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fileExplorer::remove,
.fileExplorer::cancelRemove {
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    width: 3em;
    padding: 0;
}

.fileExplorer::fileEntry:hover {
    background-color: value(bgHover);
}

.fileExplorer::fileEntry:selected {
    background-color: value(textActive);
}

.fileExplorer::fileEntry:markedForDeletion {
    background-color: value(bgWarning);
}

.fileExplorer::newFileEntry {
    display: flex;
}

.fileExplorer::newFileInput {
    padding: 1em 0.5em;
    flex: 1;
    border: none;
}

.fileExplorer::addNewFile {
    border: 0;
    cursor: pointer;
    background-color: value(textActive);
    width: 3em;
    padding: 0;
}

.editor {
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    box-shadow: value(shadow);
    background: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr;
}

.source {
    -st-extends: editor;
    grid-area: source;
}

.target {
    -st-extends: editor;
    grid-area: target;
}

.ast {
    -st-extends: editor;
    grid-area: ast;
}

.diagnostics {
    -st-extends: editor;
    grid-area: diagnostics;
}

@media (max-width: 600px) {
    .root {
        height: auto;
        display: flex;
        flex-direction: column;
    }


    .header::title {
        justify-content: center;
    }

    .header::icon {
        margin: 0;
        margin-right: value(mediumGap);
    }


    .fileExplorer {
        margin-bottom: value(smallGap);
    }

    .fileExplorer::label {
        max-width: unset;
        min-width: unset;
    }

    .editors {
        display: flex;
        flex-direction: column;
        padding: 0px value(smallGap);
    }

    .editor {
        margin-top: value(smallGap);
        height: 400px;
    }

}


@st-scope .root {

    Pane::title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0;
        padding: 0.5em;
        font-size: value(mediumText);
        background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.0));
    }

}
